
<section id="landing-container">
    <div class="landing-content">
        <h1 class="">Bienvenido al Sistema de Venta Musical</h1>
        <h5 class="">
            LA MEJOR MÚSICA ESTÁ A SOLO UN CLIC DE DISTANCIA
        </h5>
        <div class="button-container">



        </div>
    </div>
</section>

<link rel="stylesheet" href="~/Content/css/home.css" />
