@using Microsoft.AspNet.Identity


<div class="welcome">
    <h1 class="welcome-title">Inicio </h1>
    <hr class="divider" />
    <p>
        Bienvenido,
        <br />
        @User.Identity.GetUserName() ! 👋
    </p>

    <a class="btn-explore" onclick="document.location.href='@Url.Content("*")'">Explorar<i class="fa-solid fa-arrow-right"></i></a>

</div>

