

.btn-add {
    padding: 10px 30px;
    background: #1a5bed;
    text-decoration: none;
    border-radius: 25px;
    border: solid #1a5bed;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
    transition-property: background;
    color: white !important;
    cursor: pointer;
}

    .btn-add:hover {
        background: #132347;
        color: white;
    }

.btn-edit {
    padding: 10px 20px;
    background: #1a5bed;
    text-decoration: none;
    border-radius: 25px;
    border: solid #1a5bed;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
    transition-property: background;
    color: white !important;
    cursor: pointer;
    margin: 1vh;
}


.btn-buy {
    padding: 10px 20px;
    background: #1a5bed;
    text-decoration: none;
    border-radius: 25px;
    border: solid #1a5bed;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
    transition-property: background;
    color: white !important;
    cursor: pointer;
    margin: 1vh;
}

    .btn-buy:hover {
        background: #132347;
        color: white;
    }

.btn-fin {
    padding: 10px 20px;
    background: #1a5bed;
    text-decoration: none;
    border-radius: 25px;
    border: solid #1a5bed;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
    transition-property: background;
    color: white !important;
    cursor: pointer;
    margin: 1vh;
}

    .btn-fin:hover {
        background: #132347;
        color: white;
    }

.btn-cart {
    padding: 10px 20px;
    background: white;
    text-decoration: none;
    border-radius: 25px;
    border: solid white;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
    transition-property: background;
    color: #212121 ;
    cursor: pointer;
    margin: 1vh;
}

    .btn-cart i {
        color: #212121 !important;
    }


    .btn-cart:hover {
        color: white !important;
        background-color: #121212
    }
        .btn-cart:hover i {
            color: white !important;
        }



.btn-edit:hover {
    background: #132347;
    color: white;
}

.btn-delete {
    padding: 10px 20px;
    background: #f21d41;
    text-decoration: none;
    border-radius: 25px;
    border: solid #f21d41;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
    transition-property: background;
    color: white !important;
    cursor: pointer;
}

    .btn-delete:hover {
        background: #212121;
        color: white;
    }

.btn-container {
    padding: 2vh 0 4vh 0;
}


i {
    color: white !important;
    padding-left: 10px;
}

.title {
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


    .title span {
        font-weight: 400;
        color: white;
        font-size: 15px;
        margin-right: 10px;
    }

/*override de largo para esta tabla*/

#table-data_wrapper {
    width: 100%;
}


.btn-return {
    padding: 10px 20px;
    background: white;
    text-decoration: none;
    border-radius: 25px;
    border: solid white;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
    transition-property: background;
    color: #212121 !important;
    cursor: pointer;
}

    .btn-return:hover {
        background: #212121;
        color: white !important;
    }

    .btn-return i {
        color: #212121 !important;
        padding-right: 10px;
    }

    .btn-return:hover i {
        color: white !important;
    }

.btn-group-container {
    padding: 2vh 0;
}

    .btn-group-container input {
        width: 30%;
    }

.title-group {
    font-weight: 600;
    color: white;
    display: flex;
    align-items: flex-start;
    gap: 14px;
    padding: 1vh 0px;
    flex-direction: column;
}

.label-form {
    font-weight: 500;
    color: #b3b3b3;
    display: block;
    padding-bottom: 1vh;
    padding-left: 1vw;
}

.input-data-form {
    background-color: #2A2A2A;
    border-radius: 25px;
    border: solid #2A2A2A 1px;
    height: 4vh;
    padding: 2vh;
    width: 30%;
    color: #b3b3b3;
}

.select-input-form {
    background-color: #2A2A2A;
    border-radius: 25px;
    border: solid #2A2A2A 1px;
    height: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 30%;
    color: #b3b3b3;
    cursor: pointer;
}


.btn-back {
    background: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
    transition-property: background;
    color: #b3b3b3 !important;
    cursor: pointer;
}

    .btn-back:hover {
        background: #212121;
        color: white !important;
    }

    .btn-back i {
        color: #b3b3b3 !important;
        padding-right: 10px;
    }

    .btn-back:hover i {
        color: white !important;
    }

.image-table {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1vw;
}

.image-empty {
    object-fit: cover;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-left: 1%;
    margin-right: 1.8vw;
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #b3b3b3;
    padding: 8px;
    background: #212121;
    border-radius: 25px;
    border: 1px solid #555;
}

    input[type=file]::file-selector-button {
        margin-right: 20px;
        border: none;
        background: #1a5bed;
        padding: 10px 20px;
        border-radius: 25px;
        color: #fff;
        cursor: pointer;
        transition: background .2s ease-in-out;
    }

        input[type=file]::file-selector-button:hover {
            background: #0d45a5;
        }

.drop-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: rgb(40, 40, 40);
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    width: 30%;
    margin-top: 20px;
}

    .drop-container:hover {
        background-color: rgb(40, 40, 40, 1);
    }

        .drop-container:hover .drop-title {
            color: #b3b3b3;
        }

.drop-title {
    color: #b3b3b3;
    font-size: 20px;
    text-align: center;
    transition: color .2s ease-in-out;
}

.image-upload {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-top: 1vh;
}

.song-container {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
    background-color: #2A2A2A;
    padding: 15px 15px;
    border-radius: 20px;
    margin-bottom: 2vh;
}

    .song-container h1 {
        font-size: 25px;
        color: #b3b3b3;
        margin-left: 1vw;
    }

.songcover {
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

/*.container-input {
    text-align: center;
    background: #282828;
    padding: 30px 0;
    border-radius: 15px;
    width: 30%;
    margin-top: 20px;
}

    .container-input:hover {
        background-color: rgb(40, 40, 40, 0.6);
    }

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile-form + label {
    color: #b3b3b3;
}

    .inputfile-form:focus + label,
    .inputfile-form.has-focus + label,
    .inputfile-form + label:hover {
        color: #1a5bed;
    }

    .inputfile-form + label figure {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #1a5bed;
        display: block;
        padding: 20px;
        margin: 0 auto 10px;
    }

    .inputfile-form:focus + label figure,
    .inputfile-form.has-focus + label figure,
    .inputfile-form + label:hover figure {
        background-color: rgb(26, 91, 237, 0.6);
    }

    .inputfile-form + label svg {
        width: 100%;
        height: 100%;
        fill: #fff;
    }

.label-form-file {
    font-weight: 500;
    color: #b3b3b3;
    display: block;
    opacity:1;
}*/



.login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.login-section {
    width: 50%;
}

.label-form-users {
    font-weight: 500;
    color: #b3b3b3;
    display: block;
    padding-bottom: 1vh;
    padding-left: 1vw;
    width: 100%;
}

.input-data-form-users {
    background-color: #2A2A2A !important;
    border-radius: 25px;
    border: solid #2A2A2A 1px !important;
    height: 4vh;
    padding: 2vh;
    width: 100%;
    color: #b3b3b3;
    margin-bottom: 2vh;
}

    .input-data-form-users:focus {
        background-color: #2A2A2A !important;
        border: solid #2A2A2A 1px !important;
    }

.select-input-form-users {
    background-color: #2A2A2A;
    border-radius: 25px;
    border: solid #2A2A2A 1px;
    height: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;
    color: #b3b3b3;
    cursor: pointer;
    margin-bottom: 2vh;
}


/*modal factura*/


.modal-header {
    border-bottom: none !important;
    padding: 2vh 2vw;
}

.title-modal {
    font-size: 20px;
    margin-top: 1vh;
}
.title-modal i {
    margin-right: 5px;
}

.modal-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1vh 1vw ;
    background-color: #1a5bed;
    margin: 1vh 1.5vw ;
    margin-top: 0;
    border-radius: 10px;
}

.modal-width {
    max-width: 40%; 
}

.profile_image {
    width: 40px;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.profile_logo {
    width: 40px;
}

hr {
    color: #b3b3b3;
    width: 90%;
    margin: 0 auto;
}

.info-title {
    font-size: 17px;
    color: #b3b3b3;
    font-weight: 500;
}

    .info-title span {
        font-size: 15px;
        color: #b3b3b3;
        font-weight: 300;
    }

.modal-body {
    padding-top: 0 !important;
}

.heading-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 1vw;
}


.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1vh;
    padding: 1vw;
}

.table-container {
    padding: 1vh 1vw;
}
